<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>

<body>
    <h1>Welcome</h1>
    <div>
        <h2>this event is held for<b > Hiring</b>, so please don't hesitate and register now!</h2>
        <a href="/register/Registeration">Register</a>
    </div>
</body>

</html>